body{
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
  }

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    padding: 0 35% 0 35%;
}
#time {
    float: right;
}

ul {
    list-style-type: none;
    background-color: white;
}

li button {
    margin: 5px 0 5px 45%;
    border: none;
    cursor: pointer;
    background-color: #2e1a47;
    color: white;
    font-size: 1em;
}
  
li button:hover, nav button:hover, form button:hover{
    background-color: #9878e2;
}

form {
    margin-left: 35%;
}

#highscoresList {
    margin-left: 44%;
}

nav button, form button {
    text-decoration: none;
    border: none;
    background-color: #2e1a47;
    color: white!important;
    font-size: 1em;
}

form button{
    margin-left: 8px;
}

#goBack{
    margin-left: 42%;
}

